//
// USGS Navbars
// --------------------------------------------------

@usgs-navbar-height: 100px;
@header-bg-img: "../img/usgs_header_bg.png";

//USGS Main Nav Bar
.row-navbar-usgs {
  margin-left: 0;
  margin-right: 0;
}

.navbar-usgs { 
  min-height: @usgs-navbar-height;
  border-radius: 0px;
  .navbar-brand {
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
  }
}

// Generate custom usgs column widths
.generate-usgs-columns(6);

.generate-usgs-columns(@n, @i: 1) when (@i =< @n) {
    .usgs-cols-@{i} {
        width: percentage(1 / @i);
    }
    .generate-usgs-columns(@n, (@i+1));
    
}

// Mega Menu
.main-nav-usgs {
    margin-top: 20px;
    h4 {
      &, & small {
        color: #fff;
        margin: 0;
      }
    }
}

nav li {
  &> a, &> a:hover, &> a:active, &> a:visited, &> a:focus {
    color: #fff;
    text-decoration: none; //
  }
}

.yamm-content li {
  &> a, &> a:hover, &> a:active, &> a:visited, &> a:focus {
    color: #333;
    text-decoration: none;
    background-color: none;
  }
  color: #333;
  text-decoration: none;
}

@usgs-number-main-menu-items: 5;
.usgs-menu-col {
    width: percentage(1 / @usgs-number-main-menu-items); 
}