@import "../less-includes/bootstrap/variables.less";
@import "../less-includes/bootstrap/mixins.less";
@import "../less-includes/usgs/usgs-mixins.less";

// Columns
//
// Common styles for small and large grid columns

.make-usgs-grid-columns(5);

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-usgs-grid(xs, 5);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-usgs-grid(sm, 5);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-usgs-grid(md, 5);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-usgs-grid(lg, 5);
}
