@CHARSET "UTF-8";

/* HEADER */
.fa-usgs-header {
  color: #fff;
  padding: 0px;
  margin: 0px;
  position: absolute;
  padding-bottom:30px;
}

.fa-usgs-header-science {
  left: 25px;
  top:-30px;
}

.fa-usgs-header-products {
  left: 125px;
  top:-30px;
}

.fa-usgs-header-news {
  left: 210px;
  top:-30px;
}

.fa-usgs-header-connect {
  left: 305px;
  top:-30px;
}

.fa-usgs-header-about {
  left: 400px;
  top:-30px;
}

.fa-usgs-header-indicator {
  top: 53px;
}

.mobile-usgs-header {
  background-color: #00264C;
}

#mobile-top-navbar ul, #usgs-mobile-menu {
  background-color: #517900;
  padding-top: 0px;
  margin-top: 0px;
}
nav#nav-usgs-header{
  padding-top: 15px;
  padding-bottom: 15px;
  height: 97px;
}

#usgs-mega-menu li,
#usgs-mega-menu li  div  h5 {
  padding-top: 0px;
  margin-top: 0px;
  overflow-y: hidden;
}

#usgs-mega-menu > ul > li {
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 82px;
}

#usgs-mega-menu ul {
  padding-bottom: 0px;
}

.dropdown-menu {
  padding-top: 0px;
  margin-top: 0px;
  box-shadow: none;
  border-radius: 0px;
}

#usgs-mega-menu {
  h5, h5 small {
    margin: 0;
    color: #fff;
  }
}

.carousel {
  margin-top: 15px;
  margin-bottom:15px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-indicators {
  
}

.pad-top {
  margin-top: 35px;
}
