.usgs-5-col-xs-1, .usgs-5-col-sm-1, .usgs-5-col-md-1, .usgs-5-col-lg-1, .usgs-5-col-xs-2, .usgs-5-col-sm-2, .usgs-5-col-md-2, .usgs-5-col-lg-2, .usgs-5-col-xs-3, .usgs-5-col-sm-3, .usgs-5-col-md-3, .usgs-5-col-lg-3, .usgs-5-col-xs-4, .usgs-5-col-sm-4, .usgs-5-col-md-4, .usgs-5-col-lg-4, .usgs-5-col-xs-5, .usgs-5-col-sm-5, .usgs-5-col-md-5, .usgs-5-col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.usgs-5-col-xs-1, .usgs-5-col-xs-2, .usgs-5-col-xs-3, .usgs-5-col-xs-4, .usgs-5-col-xs-5 {
  float: left;
}
.usgs-5-col-xs-5 {
  
  width: 100%;
}
.usgs-5-col-xs-4 {
  width: 80%;
}
.usgs-5-col-xs-3 {
  width: 60%;
}
.usgs-5-col-xs-2 {
  width: 40%;
}
.usgs-5-col-xs-1 {
  width: 20%;
}
.usgs-5-col-xs-pull-5 {
  right: 100%;
}
.usgs-5-col-xs-pull-4 {
  right: 80%;
}
.usgs-5-col-xs-pull-3 {
  right: 60%;
}
.usgs-5-col-xs-pull-2 {
  right: 40%;
}
.usgs-5-col-xs-pull-1 {
  right: 20%;
}
.usgs-5-col-xs-pull-0 {
  right: 0%;
}
.usgs-5-col-xs-push-5 {
  left: 100%;
}
.usgs-5-col-xs-push-4 {
  left: 80%;
}
.usgs-5-col-xs-push-3 {
  left: 60%;
}
.usgs-5-col-xs-push-2 {
  left: 40%;
}
.usgs-5-col-xs-push-1 {
  left: 20%;
}
.usgs-5-col-xs-push-0 {
  left: 0%;
}
.usgs-5-col-xs-offset-5 {
  margin-left: 100%;
}
.usgs-5-col-xs-offset-4 {
  margin-left: 80%;
}
.usgs-5-col-xs-offset-3 {
  margin-left: 60%;
}
.usgs-5-col-xs-offset-2 {
  margin-left: 40%;
}
.usgs-5-col-xs-offset-1 {
  margin-left: 20%;
}
.usgs-5-col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .usgs-5-col-sm-1, .usgs-5-col-sm-2, .usgs-5-col-sm-3, .usgs-5-col-sm-4, .usgs-5-col-sm-5 {
    float: left;
  }
  .usgs-5-col-sm-5 {
    width: 100%;
  }
  .usgs-5-col-sm-4 {
    width: 80%;
  }
  .usgs-5-col-sm-3 {
    width: 60%;
  }
  .usgs-5-col-sm-2 {
    width: 40%;
  }
  .usgs-5-col-sm-1 {
    width: 20%;
  }
  .usgs-5-col-sm-pull-5 {
    right: 100%;
  }
  .usgs-5-col-sm-pull-4 {
    right: 80%;
  }
  .usgs-5-col-sm-pull-3 {
    right: 60%;
  }
  .usgs-5-col-sm-pull-2 {
    right: 40%;
  }
  .usgs-5-col-sm-pull-1 {
    right: 20%;
  }
  .usgs-5-col-sm-pull-0 {
    right: 0%;
  }
  .usgs-5-col-sm-push-5 {
    left: 100%;
  }
  .usgs-5-col-sm-push-4 {
    left: 80%;
  }
  .usgs-5-col-sm-push-3 {
    left: 60%;
  }
  .usgs-5-col-sm-push-2 {
    left: 40%;
  }
  .usgs-5-col-sm-push-1 {
    left: 20%;
  }
  .usgs-5-col-sm-push-0 {
    left: 0%;
  }
  .usgs-5-col-sm-offset-5 {
    margin-left: 100%;
  }
  .usgs-5-col-sm-offset-4 {
    margin-left: 80%;
  }
  .usgs-5-col-sm-offset-3 {
    margin-left: 60%;
  }
  .usgs-5-col-sm-offset-2 {
    margin-left: 40%;
  }
  .usgs-5-col-sm-offset-1 {
    margin-left: 20%;
  }
  .usgs-5-col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .usgs-5-col-md-1, .usgs-5-col-md-2, .usgs-5-col-md-3, .usgs-5-col-md-4, .usgs-5-col-md-5 {
    float: left;
  }
  .usgs-5-col-md-5 {
    width: 100%;
  }
  .usgs-5-col-md-4 {
    width: 80%;
  }
  .usgs-5-col-md-3 {
    width: 60%;
  }
  .usgs-5-col-md-2 {
    width: 40%;
  }
  .usgs-5-col-md-1 {
    width: 20%;
  }
  .usgs-5-col-md-pull-5 {
    right: 100%;
  }
  .usgs-5-col-md-pull-4 {
    right: 80%;
  }
  .usgs-5-col-md-pull-3 {
    right: 60%;
  }
  .usgs-5-col-md-pull-2 {
    right: 40%;
  }
  .usgs-5-col-md-pull-1 {
    right: 20%;
  }
  .usgs-5-col-md-pull-0 {
    right: 0%;
  }
  .usgs-5-col-md-push-5 {
    left: 100%;
  }
  .usgs-5-col-md-push-4 {
    left: 80%;
  }
  .usgs-5-col-md-push-3 {
    left: 60%;
  }
  .usgs-5-col-md-push-2 {
    left: 40%;
  }
  .usgs-5-col-md-push-1 {
    left: 20%;
  }
  .usgs-5-col-md-push-0 {
    left: 0%;
  }
  .usgs-5-col-md-offset-5 {
    margin-left: 100%;
  }
  .usgs-5-col-md-offset-4 {
    margin-left: 80%;
  }
  .usgs-5-col-md-offset-3 {
    margin-left: 60%;
  }
  .usgs-5-col-md-offset-2 {
    margin-left: 40%;
  }
  .usgs-5-col-md-offset-1 {
    margin-left: 20%;
  }
  .usgs-5-col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .usgs-5-col-lg-1, .usgs-5-col-lg-2, .usgs-5-col-lg-3, .usgs-5-col-lg-4, .usgs-5-col-lg-5 {
    float: left;
  }
  .usgs-5-col-lg-5 {
    width: 100%;
  }
  .usgs-5-col-lg-4 {
    width: 80%;
  }
  .usgs-5-col-lg-3 {
    width: 60%;
  }
  .usgs-5-col-lg-2 {
    width: 40%;
  }
  .usgs-5-col-lg-1 {
    width: 20%;
  }
  .usgs-5-col-lg-pull-5 {
    right: 100%;
  }
  .usgs-5-col-lg-pull-4 {
    right: 80%;
  }
  .usgs-5-col-lg-pull-3 {
    right: 60%;
  }
  .usgs-5-col-lg-pull-2 {
    right: 40%;
  }
  .usgs-5-col-lg-pull-1 {
    right: 20%;
  }
  .usgs-5-col-lg-pull-0 {
    right: 0%;
  }
  .usgs-5-col-lg-push-5 {
    left: 100%;
  }
  .usgs-5-col-lg-push-4 {
    left: 80%;
  }
  .usgs-5-col-lg-push-3 {
    left: 60%;
  }
  .usgs-5-col-lg-push-2 {
    left: 40%;
  }
  .usgs-5-col-lg-push-1 {
    left: 20%;
  }
  .usgs-5-col-lg-push-0 {
    left: 0%;
  }
  .usgs-5-col-lg-offset-5 {
    margin-left: 100%;
  }
  .usgs-5-col-lg-offset-4 {
    margin-left: 80%;
  }
  .usgs-5-col-lg-offset-3 {
    margin-left: 60%;
  }
  .usgs-5-col-lg-offset-2 {
    margin-left: 40%;
  }
  .usgs-5-col-lg-offset-1 {
    margin-left: 20%;
  }
  .usgs-5-col-lg-offset-0 {
    margin-left: 0%;
  }
}
